body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.0215em;
  padding: 0;
  margin: 0;
}
* {
	box-sizing: border-box;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

p {
	line-height: 1.4em;
	margin: 0;
}
a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 15px;
	outline: none;
}
a:hover {
	text-decoration: none;
}
.container {
  width: 1800px;
  margin: 0 auto;
}
/* <!----HEADER-----> */
.header {
  background:  linear-gradient(181.06deg, rgba(0, 0, 0, 0.2) 0.91%, rgba(255, 255, 255, 0) 116.71%, rgba(255, 255, 255, 0)), url('../img/Rectangle.jpg') no-repeat center top / cover;
  text-align: center;
  padding: 54px 0 51px;
}
.logo {
  display: flex;
}
.logo__img {
  background: url('../img/footer-logo_white-xs.png');
  width: 46px;
  height: 41px;
}
.logo__text {
 font-size: 18px;
 font-weight: 900;
 margin-top: 8px;
}
.menu {
  margin: 0 auto;
}
.menu__list {
  display: flex;
}
.menu__item a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-right: 65px;
  line-height: 22px;
}
.menu__item a:hover {
  text-shadow: 2px 2px 2px #000;
}
.container_center {
  display: flex;
  align-items: center;
}
.burger {
  margin-right: 0px;
}
.burger__img {
  background: url('../img/Group3.png');
  width: 35px;
  height: 22px;
  margin-left: auto;
}
.offer__text {
  margin-top: 298px;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.55em;
  color: rgba(255, 255, 255, 0.7);
}
.offer__title {
  font-weight: 700;
  font-size: 250px;
  line-height: 305px;
  background: linear-gradient(47.06deg, #000000 -3.87%, rgba(255, 255, 255, 0) 36.89%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 324px;
}
.offer__nav {
  display: flex;
  justify-content: center;
  position: relative;
}
.offer__item {
  width: 417px;
  height: 108px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-right: 27px;
  display: flex;
  align-items: center;
}
.offer__item p {
  font-size: 20px;
  font-weight: 700;
}
.offer__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.offer__img {
  margin: 40px 32px 36px 31px;
}
.offer__name {
  text-align: left;
}
.main-text {
  color: #2D2D2D;
  text-align: center;
}
.main-text p {
  font-weight: 600;
  margin: 137px auto 27px;
}
.main-text h2 {
  font-size: 46px;
  margin-bottom: 111px;
}
.main-text span {
  margin-left: 20px;
}
.cards {
  display: flex;
  justify-content: center;
}
.card {
  width: 351px;
  height: 620px;
  margin-right: 25px;
}
.card p {
  margin: 502px auto 10px 38px;
  font-size: 32px;
}
.card span {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.7;
  font-weight: 500;
  font-size: 17px;
  margin-left: 38px;
}
.cards__one {
  background: url('../img/Rectangle2.jpg') no-repeat center;
}
.cards__two {
  background: url('../img/Rectangle3.jpg') no-repeat center;
}
.cards__three {
  background: url('../img/Rectangle4.jpg') no-repeat center;
}
.cards__four {
  background: url('../img/Rectangle5.jpg') no-repeat center;
}
.wrapper__img {
  background: url('../img/Rectangle6.jpg') no-repeat center top;
  width: 872px;
  height: 643px;
  border-radius: 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  color: #9B9B9B;
}
.wrapper__item {
  display: flex;
  margin-bottom: 65px;
}
.wrapper__num {
  font-size: 26px;
  font-weight: 500;
  margin: 5px 45px auto 93px;
}
.wrapper__text h3 {
  font-weight: 700;
  font-size: 32px;
  color: #3D3D3D;
  margin-bottom: 20px;
}
.wrapper__text p {
  max-width: 441px;
}